# Framework
fastapi==0.116.1
uvicorn[standard]==0.35.0
streamlit
ollama

# Configuração
python-dotenv==1.1.1
requests
python-multipart

# Validação
pydantic==2.11.7
pandas
pydantic-settings==2.10.1

# Speech to Text
faster-whisper==1.1.1
ctranslate2>=4.5.0
av>=12.0.0

#ChromaDB
chromadb # Banco Vetorial
sentence-transformers # Modelo que transforma textos em embeddings

# Extração de documentos
pypdf